<div class="container-fluid no-breadcrumbs page-dashboard" ng-controller="TemplateCtrl">
    <!-- <div ng-repeat=""> -->
        <div class="row">
            <div class="col-md-6">
                <div class="box box-default">
                    <div class="box-header">TemplateName</div>
                    <div class="box-body">
                        <div data-echarts data-options="line2.options" style="height: 15px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-default">
                    <div class="box-header">TemplateName</div>
                    <div class="box-body">
                        <div data-echarts data-options="line1.options" style="height: 15px;"></div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>
