<ul class="nav" 
    data-accordion-nav
    data-slim-scroll
    data-highlight-active
    data-append-sub-menu-icon
    >
    <li class="nav-header"><span data-translate="NAVIGATION"></span></li>
    <li><a md-button aria-label="menu" href="#/app/dashboard"><i class="nav-icon material-icons">tab</i><span class="nav-text" data-translate="Templates"></span></a></li>
    <li><a md-button aria-label="menu" href="javascript:;" toggle-quickview data-target="customizer"><i class="nav-icon material-icons">description</i><span class="nav-text" data-translate="Documents"></span></a></li>
</ul>
